<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/tree-debug.log</file>
        <append>false</append>
        <encoder>
            <pattern>| %-50msg │%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="FILE"/>
    </root>

</configuration>